// BLOCK: comments
.newcomment {
    padding: 1rem;
    border-radius: 1rem;
    @include box-shadow;
}


// ELEMENTS
.newcomment__heading {
    color: $color-heading;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0 0 .5rem 0;
}

.newcomment__group {}

.newcomment__legend {
    display: none;
}

.newcomment__label {
    @include rtl-invert(margin-right, 1rem);
}

.newcomment__comment {}

.newcomment__user {}

.newcomment__submit {}
