$color-lowlight: #c0c0c0;
$color-highlight: #fff;

$color-heading: #1244a7;

$color-chevron: $color-lowlight;

$background-color: $color-highlight;
$background-color-alternating: #e3f2fd;

$color-author: #0d47a1;

$color-date: #2196f3;

$color-currentuser: #999;
$background-color-currentuser: #efefef;
